# Assignment

Link for Datasets
(https://drive.google.com/drive/folders/105ftuIwN9kqyPNEEm3E6IM7LqywjyvJa?usp=sharing)

Q21. Write a pandas program to import three datasheets from a given
excel data (coalpublic2013.xlsx ) in to a single dataframe.
 
Note: Structure of three datasheets are same.

In [3]:
import pandas as pd
import numpy as np

df1 = pd.read_excel('C:/Users/protyush_sn/coalpublic.xlsx', sheet_name='Sheet1')
df2 = pd.read_excel('C:/Users/protyush_sn/coalpublic.xlsx', sheet_name='Sheet2')
df3 = pd.read_excel('C:/Users/protyush_sn/coalpublic.xlsx', sheet_name='Sheet3')

df = pd.concat([df1, df2, df3], axis = 0)
df

,Year,MSHA ID,Mine_Name,Production,Labor_Hours,2013,103246,Bear Creek,87587,29193
0,2013.0,103381.0,Tacoa Highwall Miner,56004,22392,NaN,NaN,NaN,NaN,NaN
1,2013.0,103404.0,Reid School Mine,28807,8447,NaN,NaN,NaN,NaN,NaN
2,2013.0,100759.0,North River #1 Underground Min,"14,40,115","4,74,784",NaN,NaN,NaN,NaN,NaN
3,2013.0,103246.0,Bear Creek,87587,29193,NaN,NaN,NaN,NaN,NaN
4,2013.0,103451.0,Knight Mine,"1,47,499",46393,NaN,NaN,NaN,NaN,NaN
5,2013.0,103433.0,Crane Central Mine,69339,47195,NaN,NaN,NaN,NaN,NaN
6,2013.0,100329.0,Concord Mine,0,"1,44,002",NaN,NaN,NaN,NaN,NaN
7,2013.0,100851.0,Oak Grove Mine,"22,69,014","10,01,809",NaN,NaN,NaN,NaN,NaN
8,2013.0,102901.0,Shoal Creek Mine,0,12396,NaN,NaN,NaN,NaN,NaN
9,2013.0,102901.0,Shoal Creek Mine,"14,53,024","12,37,415",NaN,NaN,NaN,NaN,NaN
10,2013.0,103180.0,Sloan Mountain Mine,"3,27,780","1,96,963",NaN,NaN,NaN,NaN,NaN
11,2013.0,103182.0,Fishtrap,"1,75,058",87314,NaN,NaN,NaN,NaN,NaN
12,2013.0,103285.0,Narley Mine,"1,54,861",90584,NaN,NaN,NaN,NaN,NaN
13,2013.0,103332.0,Powhatan Mine,"1,40,521",61394,NaN,NaN,NaN,NaN,NaN
14,2013.0,103375.0,Johnson Mine,580,1900,NaN,NaN,NaN,NaN,NaN
15,2013.0,103419.0,Maxine-Pratt Mine,"1,25,824","1,07,469",NaN,NaN,NaN,NaN,NaN
16,2013.0,103432.0,Skelton Creek,8252,220,NaN,NaN,NaN,NaN,NaN
17,2013.0,103437.0,Black Warrior Mine No,"11,45,924",70926,NaN,NaN,NaN,NaN,NaN
18,2013.0,102976.0,Piney Woods Preparation Plant,0,14828,NaN,NaN,NaN,NaN,NaN
19,2013.0,102976.0,Piney Woods Preparation Plant,0,23193,NaN,NaN,NaN,NaN,NaN
20,2013.0,103380.0,Calera,0,12621,NaN,NaN,NaN,NaN,NaN
21,2013.0,103380.0,Calera,0,1402,NaN,NaN,NaN,NaN,NaN
22,2013.0,103422.0,Clark No 1 Mine,"1,22,727","1,40,250",NaN,NaN,NaN,NaN,NaN
23,2013.0,103467.0,Helena Surface Mine,59664,30539,NaN,NaN,NaN,NaN,NaN
24,2013.0,101247.0,No 4 Mine,"26,22,528","15,51,141",NaN,NaN,NaN,NaN,NaN
25,2013.0,101401.0,No 7 Mine,"54,05,412","24,64,719",NaN,NaN,NaN,NaN,NaN
26,2013.0,103172.0,"Searles Mine No.2, 3, 4, 5, 6","2,58,078","1,19,542",NaN,NaN,NaN,NaN,NaN
27,2013.0,103179.0,Fleetwood Mine No 1,75937,63745,NaN,NaN,NaN,NaN,NaN
28,2013.0,103303.0,Shannon Mine,"3,17,491","1,64,388",NaN,NaN,NaN,NaN,NaN
29,2013.0,103323.0,Deerlick Mine,"1,33,452",46381,NaN,NaN,NaN,NaN,NaN
30,2013.0,103364.0,Brc Alabama No. 7 Llc,0,14324,NaN,NaN,NaN,NaN,NaN
31,2013.0,103436.0,Swann's Crossing,"1,37,511",77190,NaN,NaN,NaN,NaN,NaN
32,2013.0,100347.0,Choctaw Mine,"5,37,429","2,15,295",NaN,NaN,NaN,NaN,NaN
33,2013.0,101362.0,Manchester Mine,"2,19,457","1,16,914",NaN,NaN,NaN,NaN,NaN
34,2013.0,102996.0,Jap Creek Mine,"3,75,715","1,64,093",NaN,NaN,NaN,NaN,NaN
35,2013.0,103155.0,Corinth Prep Plant,0,27996,NaN,NaN,NaN,NaN,NaN
36,2013.0,103155.0,Corinth Prep Plant,0,51994,NaN,NaN,NaN,NaN,NaN
37,2013.0,103195.0,Mccollum/Sparks Branch Mine,71910,17411,NaN,NaN,NaN,NaN,NaN
38,2013.0,103342.0,Reese's Branch Mine,"2,63,888","1,15,123",NaN,NaN,NaN,NaN,NaN
39,2013.0,103370.0,Cresent Valley Mine,2860,621,NaN,NaN,NaN,NaN,NaN
40,2013.0,103372.0,Cane Creek Mine,66258,32401,NaN,NaN,NaN,NaN,NaN
41,2013.0,103376.0,Town Creek,"2,99,167","1,76,499",NaN,NaN,NaN,NaN,NaN
42,2013.0,103389.0,Carbon Hill Mine,76241,84966,NaN,NaN,NaN,NaN,NaN
43,2013.0,103410.0,Coal Valley Mine,"4,07,841","1,58,591",NaN,NaN,NaN,NaN,NaN
44,2013.0,103423.0,Dutton Hill Mine,37275,9162,NaN,NaN,NaN,NaN,NaN
45,2013.0,1519322.0,Ghm #25,25054,3108,NaN,NaN,NaN,NaN,NaN
46,2013.0,103321.0,Poplar Springs,"1,89,370",76366,NaN,NaN,NaN,NaN,NaN
47,2013.0,103358.0,Old Union,"2,84,563","1,61,805",NaN,NaN,NaN,NaN,NaN
48,2013.0,5000030.0,Usibelli,"16,31,584","2,86,079",NaN,NaN,NaN,NaN,NaN
49,2013.0,201195.0,Kayenta Mine,"76,02,722","10,15,333",NaN,NaN,NaN,NaN,NaN
0,2013.0,105381.0,Tacoa Highwall Miner,57004,22392,NaN,NaN,NaN,NaN,NaN
1,2013.0,103404.0,Reid School Mine,28807,8447,NaN,NaN,NaN,NaN,NaN
2,2013.0,100759.0,North River #1 Underground Min,"14,40,115","4,74,784",NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,2013.0,103451.0,Knight Mine,"1,47,499",46393.0

Q 22. Write a pandas program to import three datasheets from a given
excel data (employee.xlsx ) into a single data frame and export the
result into new Excel file.
 
Note: Structure of three datasheets are same.

In [5]:

df1 = pd.read_excel('C:/Users/protyush_sn/coalpublic.xlsx', sheet_name='Sheet1')
df2 = pd.read_excel('C:/Users/protyush_sn/coalpublic.xlsx', sheet_name='Sheet2')
df3 = pd.read_excel('C:/Users/protyush_sn/coalpublic.xlsx', sheet_name='Sheet3')

df = pd.concat([df1, df2, df3])
    df.to_excel('C:/Users/protyush_sn/coalpublic1.xlsx',index = False|)

SyntaxError: invalid syntax (<ipython-input-5-bb3da88f437d>, line 6)

Q23. Write a pandas program to create the Pivot table with multiple
indexes from the data set of the titanic.csv.

In [ ]:
df = pd.read_csv('titanic.csv')
print(pd.pivot_table(df, index = ['sex', 'age'], aggfunc=np.sum))

Q24. Write a Pandas program to create the Pivot table and find survival
rate by gender?

Q25. Write a pandas program to make partition each of the passengers
into 4 categories based on their age.
 
Note: Age categories- (0, 10), (10, 30), (30, 60), (60, 80)

Q26. Write a pandas program to create the Pivot table and find survival
rate by the gender, age of the different categories of various
classes.

Q27. Write a pandas program to create the Pivot table and calculate
number of women and men were in a particular cabin class.

Q28. Write a pandas program to create the Pivot table and separate
the gender according to whether they travelled alone or not to get
the probability of survival

Q29. Write a pandas program to create the Pivot table and find the
probability of survival by class, gender, solo boarding, and the port
of embarkation.

Q30. Write a pandas program to get current date, oldest date and
number of days between Current date and the oldest date of Ufo
dataset.

Q31. Write a pandas program to get all sighting days of the
unidentified flying object (ufo) between 1950-10-10 and 1960-10-
10.

Q32. Write a Pandas program to extract the year, month, day, hour,
minute, second, and weekday from unidentified flying object (UFO)
reporting date.

Q33. Write a pandas program to count year-country wise frequency of
reporting dates of the unidentified flying object(UFO).

Q34. Write a pandas program to get the difference (in days) between
documented date and reporting date of unidentified flying object
(UFO).

Q35. Write a pandas program to generate sequences of fixedfrequency dates and time spans.

Q36. Write a pandas program to manipulate and convert date times
with timezone information.

Q37. Write a pandas program to create the graphical analysis of UFO
(unidentified flying object) Sightings year.

Q38. Write a pandas program to create a comparison of the top 10
years in which the (UFO) was sighted VS each Month.

Q39. Write a pandas program to create a heatmap (rectangular data as
a colour-encoded matrix) for comparison of top 10 years in
which (UFO ) was sighted VS each Month.

Q40. Write a pandas program to create a Timewheel of Hour VS Year
comparison of the top 10 years in which the (UFO) was sighted

## Great Job!